<!-- your html code here -->
<p>Hello, I'm contact.html</p>
<h1>Contact</h1>
<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolorum, impedit veritatis. Laboriosam ipsa dolorum deleniti, nihil sit, illo dolorem, fugit minus ex maiores nostrum tenetur inventore alias itaque non eaque.</p>
<div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">Email address</label>
    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
  </div>
  <div class="mb-3">
    <label for="exampleFormControlTextarea1" class="form-label">Example textarea</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
  </div>
  <div class="d-grid gap-2 d-md-flex justify-content-md-end">
    <button class="btn btn-primary me-md-2" type="button">Submit</button>
    </div>