<div class="container-md">
  <h1>Contact</h1>
  <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolorum, impedit veritatis. Laboriosam ipsa dolorum
    deleniti, nihil sit, illo dolorem, fugit minus ex maiores nostrum tenetur inventore alias itaque non eaque.</p>
  <div class="col-10 offset-1 bg-light-subtle rounded-1" style="padding:10px">
    <div class="mb-3 row">
      <div class="col-2" style="text-align: right;">
        <label for="exampleFormControlInput1" class="col-sm-auto-form-label">Your E-mail</label>
      </div>
      <div class="col-sm-10">
        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
      </div>
    </div>
    <div class="mb-3 row">
      <div class="col-2" style="text-align: right;">
        <label for="exampleFormControlTextarea1" class="col-ms-auto-form-label">Your message</label>
      </div>
      <div class="col-sm-10">
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="5"></textarea>
      </div>
    </div>
    <div class="d-grid gap-2 d-md-flex justify-content-end">
      <button class="btn btn-primary" type="button">Submit</button>
    </div>
  </div>
</div>
<!--justify-content-md-end-->