<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        img {
            border-radius: 400px;
            width: 300px;
            height: 300px;
        }
        .color {
            color: grey;
        }
    </style>
</head>
<body>
    <div class="container text-clearalign">
        <div class="row">
            <div class="col-9">
                <h2>The First Heading <span class="color">Will Catch Your Eye</span></h2>
                <p>Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum ha sido el texto de relleno estándar de las industrias desde el año 1500, cuando un impresor (N. del T. persona que se dedica a la imprenta) desconocido usó una galería de textos y los mezcló de tal manera que logró hacer un libro de textos especimen.</p>
            </div> 
            <div class="col-3">
                <img src="https://i.redd.it/7ni58yvgsi041.jpg" alt="">
            </div>
        </div>
    </div>
</body>
</html>
