<!-- your html code here -->
<div>
  <div>
    <span><h1>Portafolio</h1></span>
  </div>
  <div>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Et cum aut porro at, iure dignissimos sit facere illo. Facilis, inventore? Deleniti, beatae dolor. In, esse accusantium. Earum natus doloremque quaerat.</p>
  </div>
  <div class="card-group">
    <div class="card">
      <img src="https://picsum.photos/id/23/200" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Fork the most important</h5>
        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet blanditiis eaque exercitationem amet ea quam voluptatum pariatur distinctio.</p>
        <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
      </div>
    </div>
    <div class="card">
      <img src="https://picsum.photos/id/30/200" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Coffe, you will need it</h5>
        <p class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Doloribus consequuntur laborum quod rem accusamus, repellendus reprehenderit ullam accusantium in necessitatibus.</p>
        <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
      </div>
    </div>
    <div class="card">
      <img src="https://picsum.photos/id/18/200" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Take air some times</h5>
        <p class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Velit laudantium aliquid eum odio recusandae libero maiores optio quibusdam assumenda suscipit a, neque soluta. Iure, fuga!</p>
        <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
      </div>
    </div>
  </div>
</div>
