
<div class="container-md">
    <div class="row">
        <div class="col-2 rounded-circle" style="background-image: url(https://img.freepik.com/fotos-gratis/trabalhando-no-laptop-na-mesa-de-escritorio_23-2148288559.jpg?w=826&t=st=1705258137~exp=1705258737~hmac=3afcc040ccda0652dcb85e149b928829caecfd14b14b6a6270b45449744b52a2);background-size: cover;width: 220px; height: 220px;">
        </div>
        <div class="col-10">
            <h4>The Second Heading Is Pretty Cool Too</h4>
            <p>
                
                Ai você fala o seguinte: "- Mas vocês acabaram isso?" Vou te falar: -"Não, está em andamento!" Tem obras que "vai" durar pra depois de 2010. Agora, por isso, nós já não desenhamos, não começamos a fazer projeto do que nós "podêmo fazê"? 11, 12, 13, 14... Por que é que não?</p>
        </div>
    </div>
</div>