<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .fondo-blanco {
            background-color: white;
        }
    </style>
</head>
<body>
    <div class="container text-center" style="background-image: url('https://file.lavanguardia.com/ext1/img02/2015/05/19/54431333441.jpg?t=1432035837984'); background-size: cover; height: 400px;">
        <h1 class="fondo-blanco">One Page Wonder</h1>
        <h4 class="fondo-blanco mt-2">Will Knock Your Socks Off</h4>
    </div>
</body>
</html>