<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container text-center" style="background-image: url('https://file.lavanguardia.com/ext1/img02/2015/05/19/54431333441.jpg?t=1432035837984'); background-size: cover; height: 300px;">
        <h1 class="pt-5"><span class="placeholder col-12 bg-light">One Page Wonder</span></h1>
        <h4 class="mt-2"><span class="placeholder col-12 bg-light">Will Knock Your Socks Off</span></h4>
    </div>
</body>
</html>
